<% layout('../layout/Boilerplate') %>

<div class="row">
  <div class="col-8 offset-2">
    <h1 class="display-3 text-center mb-5">WELCOME TO CAMPGROUND</h1>
    <img src="https://www.lakediefenbakertourism.com/public/uploads/Campgrounds.jpg" class="img-fluid rounded" />
  </div>
</div>
